<p>Hello Devs</p>
<div *ngIf="!peliculas">
  <img src="https://thumbs.gfycat.com/DefinitiveJaggedDalmatian-size_restricted.gif"/>
</div>
<!-- <div *ngIf="peliculas?.length === 0"> -->
<div *ngIf="peliculas?.length === 0">
  <p>No hay películas para mostrar</p>
</div>

<div *ngIf="peliculas && peliculas?.length !== 0">
  <div  *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor">
    <div>
      Película {{index}}: {{pelicula.titulo}}
    </div>
    <div>
      Fecha {{pelicula.fechaLanzamiento | date: "dd-MMMM-yyyy" | uppercase}}
    </div>
    <div>
      Precio {{pelicula.precio | currency}}
    </div>
  </div>
</div>


