<!-- <p>Hello Devs</p> -->

<!-- Variable de referencia de plantilla  -->

<!-- <input type="file" style="display: none" #cargador />
<button (click)="cargador.click()">Cargar archivo</button> -->

<!-- Material -->
<app-menu></app-menu>

<app-rating [maximoRating]="6"></app-rating>

<div class="contenedor">
  <!-- Uso de componente  -->
  <h2>En cines</h2>
  <app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>

  <h2>Futuros Estrenos</h2>
  <app-listado-peliculas
    [peliculas]="peliculasProximosEstrenos"
  ></app-listado-peliculas>
</div>
